<tr>
  <td class="micropost">
    <span class="alias"><%= list.alias %></span>
    <span class="timestamp">
      <%#= #(outside eb ruby: Posted / ago) time_ago_in_words(list.created_at) %>PO daily
    </span>
  </td>
</tr>
