<h1>About</h1>
<p>
SOS was created to solve a problem.<br />
Medication Assistance Programs (MAPs) assist patients by completing drug manufacturer specific applications to acquire medications. The coordinators of these programs are required to track the value of the drugs they bring in for grant and administrative purposes. This means tracking the price for each and every medication they bring in.<br />
While it is easy to lookup a spot price for a couple drugs at a time, looking up 900 can be quite a chore. It is possible to get structured drug price data from First DataBank or Elsevier / Gold Standard. However the recurring cost may be prohibitive for small organizations.<br />
The goal of this web application is to provide free drug pricing data for small or mid-sized organizations.
</p>
