<h1>Third App</h1>
<p>
This is the home page for the MAPmeds drug price tracking application.<br /><br />
With MAPmeds, you can define a list of medications to track, and the source to track.<br /><br />
To get started using MAPmeds, click the signup button.
</p>

<%= link_to "Sign up", signup_path, :class => "signup_button roud" %>
